{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>infoKR versi 1.0</title>
    <link rel="icon" type="image/png" href="{% static 'ui-template-1/images/favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'ui-template-1/' %}assets/app/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'ui-template-1/assets/icons/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'ui-template-1/dist/css/index.css' %}" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <nav class="navbar navbar-expand-md navbar-light bg-light py-1">
            <div class="container-fluid">
                <button class="btn btn-default" id="btn-slider" type="button">
                    <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand me-auto text-danger" href="#">InfoKR</a>
                <ul class="nav ms-auto">
                    <li class="nav-item dropstart">
                        <a class="nav-link text-dark ps-3 pe-1" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown">
                            <img src="{{request.user.useradmin.profil_pic.url}}" alt="user" class="img-user">
                        </a>
                        <div class="dropdown-menu mt-2 pt-0" aria-labelledby="navbarDropdown">
                            <div class="d-flex p-3 border-bottom mb-2">
                                <img src="{{request.user.useradmin.profil_pic.url}}" alt="user" class="img-user me-2">
                                <div class="d-block">
                                    <p class="fw-bold m-0 lh-1">{{request.user.useradmin.nama}}</p>
                                    <small>{{request.user.useradmin.email}}</small>
                                </div>
                            </div>
                            <a class="dropdown-item" href="{% url 'account_setting' %}">
                                <i class="fa fa-user fa-lg me-3" aria-hidden="true"></i>Profil
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-key fa-lg me-3" aria-hidden="true"></i>Ubah Password
                            </a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="fa fa-sign-out fa-lg me-2" aria-hidden="true"></i>Keluar
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="slider" id="sliders">
            <div class="slider-head">
                <div class="d-block pt-4 pb-3 px-3">
                    <img src="{{request.user.useradmin.profil_pic.url}}" alt="user" class="slider-img-user mb-2">
                    <p class="fw-bold mb-0 lh-1 text-white">{{request.user.useradmin.nama}}</p>
                    <small class="text-white">{{request.user.useradmin.email}}</small>
                </div>
            </div>
            <div class="slider-body px-1">
                <nav class="nav flex-column">
                    <a class="nav-link px-3 active" href="{% url 'dashboard' %}">
                        <i class="fa fa-home fa-lg box-icon" aria-hidden="true"></i>Beranda
                    </a>
                    <a class="nav-link px-3" href="{% url 'account_setting' %}">
                        <i class="fa fa-user fa-lg box-icon" aria-hidden="true"></i>Profil
                    </a>
                    <!-- Fitur Kendaraan-->
                    {% for group in request.user.groups.all %}
                        {% if group.name == 'superadmin' or group.name == 'admin' %}
                            <hr class="soft my-1 bg-white">
                            <a class="nav-link px-3" href="{% url 'pegawai' %}">
                                <i class="fa fa-address-book fa-lg box-icon" aria-hidden="true"></i>Pegawai
                            </a>
                            <a class="nav-link px-3" href="{% url 'kendaraan' %}">
                                <i class="fa fa-car fa-lg box-icon" aria-hidden="true"></i>Kendaraan
                            </a>
                        {% endif %}
                    {% endfor %}
                    <!-- Fitur Admin -->
                    {% for group in request.user.groups.all %}
                        {% if group.name == 'superadmin' or group.name == 'admin' %}
                            <hr class="soft my-1 bg-white">
                            <a class="nav-link px-3" href="#">
                                <i class="fa fa-id-card fa-lg box-icon" aria-hidden="true"></i>Pengguna
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% for group in request.user.groups.all %}
                        {% if group.name == 'superadmin' %}
                            <a class="nav-link px-3" href="{% url 'admin_system' %}">
                                <i class="fa fa-file-text fa-lg box-icon" aria-hidden="true"></i>Admin System
                            </a>
                        {% endif %}
                    {% endfor %}
                    <hr class="soft my-1 bg-white">
                    <a class="nav-link px-3" href="{% url 'logout' %}">
                        <i class="fa fa-sign-out fa-lg box-icon" aria-hidden="true"></i>Keluar
                    </a>
                </nav>
            </div>
        </div>

        {% block content %}
        {% endblock %}
        
    </div>

    <div class="slider-background" id="sliders-background"></div>
    <script src="{% static 'ui-template-1/dist/js/jquery.js' %}"></script>
    <script src="{% static 'ui-template-1/assets/app/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script src="{% static 'ui-template-1/dist/js/index.js' %}"></script>

</body>

</html>