{% extends "main.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}Tambah Data Pegawai{% endblock %}

{% block content %}
    <div class="main-pages">
        <div class="container-fluid">
            <div class="row g-3 mb-3">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="card p-2 shadow">
                        <div class="d-flex align-items-center px-2">
                            <i class="fa fa-address-book float-start fa-3x py-auto" aria-hidden="true"></i>
                            <div class="card-body text-end">
                                <h5 class="card-title">{{ jumlah_pegawai|intcomma }}</h5>
                                <p class="card-text">Pegawai</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="card p-2 shadow">
                        <div class="d-flex align-items-center px-2">
                            <i class="fa fa-car fa-3x py-auto" aria-hidden="true"></i>
                            <div class="card-body text-end">
                                <h5 class="card-title">{{ jumlah_kendaraan|intcomma }}</h5>
                                <p class="card-text">Kendaraan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-12">
                    <div class="d-block rounded shadow bg-white p-3">
                        <div class="row">
                            <div class="col-12 navigator mb-4">
                                <h6><a href="{% url 'dashboard' %}" class="text-danger"> Beranda </a> 
                                    <i class="fa fa-caret-right"></i> 
                                    <a href="{% url 'pegawai' %}" class="text-success"> Pegawai </a> 
                                    <i class="fa fa-caret-right"></i><a href="#" class="text-muted"> Detail Kendaraan </a></h6>
                                <hr>
                            </div>
                        </div>
                        <form action="" class="row g-3" method="post" enctype="multipart/form-data">
                            <fieldset>
                            {% csrf_token %}
                                <legend class="text-center mb-4">Tambah Data Pegawai</legend>
                                    {{ form|crispy }}
                                <button type="submit" class="btn btn-primary mt-2 float-end"><i class="fa fa-save"></i> Simpan</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
    </div>
{% endblock %}