{% extends "main_page.html" %}
{% load static %}

{% block title %}Dashboard Kontrak{% endblock %}

{% block content %}

<div class="main-pages">
    <div class="container-fluid">
        <div class="row g-3 mb-3">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card p-2 shadow">
                    <div class="d-flex align-items-center px-2">
                        <i class="fa fa fa-shopping-bag float-start fa-3x py-auto" aria-hidden="true"></i>
                        <div class="card-body text-end">
                            <h5 class="card-title">122</h5>
                            <p class="card-text">Data Barang</p>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-start fw-bold"><a href="#" class="text-reset"> Lebih Detail <i class="fa fa-arrow-circle-o-right"></i></i></a></small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card p-2 shadow">
                    <div class="d-flex align-items-center px-2">
                        <i class="fa fa-building fa-3x py-auto" aria-hidden="true"></i>
                        <div class="card-body text-end">
                            <h5 class="card-title">100</h5>
                            <p class="card-text">Data Penyedia</p>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-start fw-bold"><a href="#" class="text-reset"> Lebih Detail <i class="fa fa-arrow-circle-o-right"></i></i></a></small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card p-2 shadow">
                    <div class="d-flex align-items-center px-2">
                        <i class="fa fa-file float-start fa-3x py-auto" aria-hidden="true"></i>
                        <div class="card-body text-end">
                            <h5 class="card-title">122</h5>
                            <p class="card-text">Data Kontrak</p>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-start fw-bold"><a href="#" class="text-reset"> Lebih Detail <i class="fa fa-arrow-circle-o-right"></i></i></a></small>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="card p-2 shadow">
                    <div class="d-flex align-items-center px-2">
                        <i class="fa fa-database float-start fa-3x py-auto" aria-hidden="true"></i>
                        <div class="card-body text-end">
                            <h5 class="card-title">122</h5>
                            <p class="card-text">Repositori Harga</p>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <small class="text-start fw-bold"><a href="#" class="text-reset"> Lebih Detail <i class="fa fa-arrow-circle-o-right"></i></i></a></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-2">
            <div class="col-12 col-lg-6">
                <div class="d-block rounded shadow bg-white p-3">
                    <canvas id="myChartOne"></canvas>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-block rounded shadow bg-white p-3">
                    <canvas id="myChartTwo"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}